*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f4f6f9;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  transition: all 0.3s ease;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #90949b;
  color: #fff;
}

.btn-primary:hover {
  background-color: #363636;
}

.btn-danger {
  background-color: #ff5252;
  color: #fff;
}

.btn-danger:hover {
  background-color: #e84e4e;
}


input, select, textarea {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

input:focus, select:focus, textarea:focus {
  border-color: #6c63ff;
}

textarea {
  height: 120px;
}

input::placeholder, select::placeholder {
  color: #888;
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .container {
    width: 90%;
  }

  input, select, textarea {
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}


/* User Management Component Styles */
.user-management-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.user-management-container h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.user-form {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.user-form input, .user-form select {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.user-form input:focus, .user-form select:focus {
  border-color: #6c63ff;
}

.user-form button {
  padding: 10px 20px;
  background-color: #6becbf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.user-form button:hover {
  background-color: #284f32;
}

.user-table {
  width: 100%;
  margin-top: 40px;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-table th {
  background-color: black ;
  color: #fff;
  padding: 12px;
}

.user-table td {
  color: black;
  padding: 12px;
  text-align: center;
}


.user-table button {
  padding: 8px 12px;
  background-color: #63ff66;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 8px;
}

.user-table button:hover {
  background-color: #5cff10;
}

.user-table .btn-danger {
  background-color: #ff5252;
}

.user-table .btn-danger:hover {
  background-color: #e84e4e;
}
